{% extends 'base.html' %}
{% load markdownify %}

{% block content %}
<main class="mealplans-detail">
  <div>
    <a href="{% url 'meal_plans_edit' mealplan.id %}">Edit</a>
    <a href="{% url 'meal_plans_delete' mealplan.id %}">Delete</a>
  </div>
  {% if mealplan.image %}
  <img src="{{ mealplan.image }}" class="pull-right">
  {% endif %}
  <h1>{{ mealplan.name }}</h1>

  <p>served on {{ mealplan.date }}</p>
  {% for recipe in mealplan.recipes.all %}
  <a href="{% url 'recipe_detail' recipe.id %}">{{recipe.name }}</a>

  {% endfor %}

  {% endblock %}






  <!-- <h2>Ingredients</h2>
  <table>
    <thead>
      <tr>
        <th colspan="2">Amount</th>
        <th>Food item</th>
      </tr>
    </thead>
    <tbody>
      {% for ingredient in mealplans.ingredients.all %}
      <tr>
        <td>{{ ingredient.amount }}</td>
        <td>{{ ingredient.measure.name }}</td>
        <td>{{ ingredient.food.name }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <h2>Steps</h2>
  <ol>
    {% for step in mealplans.steps.all %}
    <li>{{ step.directions }}</li>
    {% endfor %}
  </ol>
</main> -->